<a href="https://colab.research.google.com/github/DpkReach/DpkReach.github.io/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CSCE 5300: Introduction to Big data and Data Science

### SPRING 2024

### Assignment-2

### Submission Guidelines

#### 1. Submit .ipynb and pdf(you can use some external ipynb to pdf converter Ex:vertopal.com) to canvas.
#### 2. Provide code where ever needed and explain each code cell
#### 3. Plagiarism should be less than 15%.
#### 4. You can do the tasks in either Google Colab or AWS.
#### 5. We are providing one ipynb file which consists of Machine Learning and  pyspark Questions.
#### 6. Do not perform Task 3 using pyspark.

#### Note:

#### For Task 1 and Task 2 you can refer to the Pyspark Tutorial
#### For Task 3 you can refer to the ML tutorial

### **Task 1: Spark Rdds (40%)**

#### Question Descriptive


#### A) Explain the differences between RDD transformations and actions, and provide at least three instances of typical actions with examples. (10%)

##### Min. 200 words

Answer Here:

#### Question Implementation (30%)

#### B) Display the records and count of Movie table and rating table

(Hint: file.count())

In [2]:
#Type your code here
#Installing PySpark through pip
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=1de88e8476cde844271384917da38108e1f36af71f73875d3817f82c5741ed19
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:

#Importing spark Session
from pyspark.sql import SparkSession

#creating RDD
#Session name meaning ful apart from dataframe
spark=SparkSession.builder.appName('WordlistAnalysis').getOrCreate()

In [4]:
spark

Count of Movies

In [24]:
file=spark.sparkContext.textFile("/content/BDDS_Ass2/movies-1.csv")
file.count()

9743

Count of Ratings

In [25]:
file=spark.sparkContext.textFile("/content/BDDS_Ass2/ratings-1-1.csv")
file.count()

100837

Display records from movies

In [7]:
df = spark.read.csv("/content/BDDS_Ass2/movies-1.csv", header=True, inferSchema=True)

# Show the first few rows of the DataFrame
df.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

#### C) Display the count of rating less than or equal to 2 as Rating_Counts

(Hint: file.rating <= 2)

In [14]:
#Type your code here
#file=spark.sparkContext.textFile("/content/BDDS_Ass2/ratings-1-1.csv")
#file.count()
df = spark.read.csv("/content/BDDS_Ass2/ratings-1-1.csv", header=True, inferSchema=True)

# Show the first few rows of the DataFrame
#df.show()

#df = pd.DataFrame(data)

# Count the ratings less than or equal to 2
#rating_counts = df[df['rating'] <= 2]['rating'].count()

# Display the count
#print("Rating_Counts:", rating_counts)

# Assuming df is your DataFrame
df.createOrReplaceGlobalTempView("ratings_view")
# Assuming spark is your SparkSession
result = spark.sql("SELECT count(*) As Rating_Counts FROM global_temp.ratings_view where rating <=2")
result.show()

+-------------+
|Rating_Counts|
+-------------+
|        13523|
+-------------+

#### D) Filter the movies which have "Adventure and Fantasy" in Genres, display the count of "Adventure and Fantasy" Genres records and percentage of "Adventure and Fantasy" genres

(Hint: file.like('%Adventure%'))

In [39]:
##Type your code here
from pyspark.sql.functions import col
df = spark.read.csv("/content/BDDS_Ass2/movies-1.csv", header=True, inferSchema=True)
#df.show()

movies = df.filter((col('genres').like('%Adventure%')) & (col('genres').like('%Fantasy%')))
movies.show()

#df.createOrReplaceGlobalTempView("movies_view")
#result = spark.sql("SELECT * FROM global_temp.movies_view WHERE genres LIKE '%Adventure%' AND genres LIKE '%Fantasy%' ")
#result.show()
#result.count()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|     29|City of Lost Chil...|Adventure|Drama|F...|
|     44|Mortal Kombat (1995)|Action|Adventure|...|
|     60|Indian in the Cup...|Adventure|Childre...|
|    126|NeverEnding Story...|Adventure|Childre...|
|    258|Kid in King Arthu...|Adventure|Childre...|
|    393|Street Fighter (1...|Action|Adventure|...|
|    485|Last Action Hero ...|Action|Adventure|...|
|    533|  Shadow, The (1994)|Action|Adventure|...|
|    546|Super Mario Bros....|Action|Adventure|...|
|    558|Pagemaster, The (...|Action|Adventure|...|
|    631|All Dogs Go to He...|Adventure|Animati...|
|    653|  Dragonheart (1996)|Action|Adventure|...|
|    661|James and the Gia...|Adventure|Animati...|
|    673|    Space Jam (1996)|Adventure|Animati...|
|    919|Wizard of Oz, The...|Adventure|Childre...|
|   1009|Escape to Witch M...|Adventure|Childre...|
|   1032|Alice in Wonderla...|Adventure|Animati...|
|   1136|Monty Python and ...|Adventure|Comedy|...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [50]:
count = movies.count()

# Display the count
print("Count of Adventure and Fantasy genres records:", count)

Count of Adventure and Fantasy genres records: 334

In [53]:
from pyspark.sql.functions import col
df = spark.read.csv("/content/BDDS_Ass2/movies-1.csv", header=True, inferSchema=True)
#df.show()
movie_total_count = df.count()
movies_filtered = df.filter((col('genres').like('%Adventure%')) & (col('genres').like('%Fantasy%')))
movies_filtered_count = movies_filtered.count()
percentage = (movies_filtered_count / movie_total_count) * 100

# Display the percentage
print("Percentage of Adventure and Fantasy genres records:", percentage)

Percentage of Adventure and Fantasy genres records: 3.428454116197906

### **Task 2: Spark Dataframes (30%)**

#### Implementation (30%)

#### A) Create the Globaltemp view for rating, show the records and Identify Users who have given the least ratings.

(Hint: SELECT * FROM global_temp.view)

In [54]:
#Type your code here
df = spark.read.csv("/content/BDDS_Ass2/ratings-1-1.csv", header=True, inferSchema=True)
df.createOrReplaceGlobalTempView("ratings_view")
result = spark.sql("SELECT * FROM global_temp.ratings_view")
result.show()
result.count()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|      1|   4.0|
|     1|      3|   4.0|
|     1|      6|   4.0|
|     1|     47|   5.0|
|     1|     50|   4.6|
|     1|     70|   3.0|
|     1|    101|   5.0|
|     1|    110|   4.0|
|     1|    151|   4.8|
|     1|    157|   4.7|
|     1|    163|   4.6|
|     1|    216|   4.9|
|     1|    223|   3.0|
|     1|    231|   4.6|
|     1|    235|   4.0|
|     1|    260|   4.6|
|     1|    296|   3.0|
|     1|    316|   3.0|
|     1|    333|   4.6|
|     1|    349|   4.0|
+------+-------+------+
only showing top 20 rows

100836

In [62]:
result1 = spark.sql("""
    SELECT userId, COUNT(*) as rating_count
    FROM global_temp.ratings_view
    GROUP BY userId
    ORDER BY rating_count ASC
    LIMIT 1
""")
result1.show()

+------+------------+
|userId|rating_count|
+------+------------+
|    53|          20|
+------+------------+

#### B) Create view by combining both tables and display records

(Hint: SELECT * FROM Joined_movie_ratings_view)

In [63]:
#Type your code here
df1 = spark.read.csv("/content/BDDS_Ass2/movies-1.csv", header=True, inferSchema=True)
df2 = spark.read.csv("/content/BDDS_Ass2/ratings-1-1.csv", header=True, inferSchema=True)
df1.createOrReplaceGlobalTempView("movies_view")
df2.createOrReplaceGlobalTempView("ratings_view")

# Execute SQL query to join the views
joined_df = spark.sql("""
    SELECT *
    FROM global_temp.movies_view t1
    JOIN global_temp.ratings_view t2 ON t1.movieId = t2.movieId
""")
joined_df.show()

+-------+--------------------+--------------------+------+-------+------+
|movieId|               title|              genres|userId|movieId|rating|
+-------+--------------------+--------------------+------+-------+------+
|      1|    Toy Story (1995)|Adventure|Animati...|     1|      1|   4.0|
|      3|Grumpier Old Men ...|      Comedy|Romance|     1|      3|   4.0|
|      6|         Heat (1995)|Action|Crime|Thri...|     1|      6|   4.0|
|     47|Seven (a.k.a. Se7...|    Mystery|Thriller|     1|     47|   5.0|
|     50|Usual Suspects, T...|Crime|Mystery|Thr...|     1|     50|   4.6|
|     70|From Dusk Till Da...|Action|Comedy|Hor...|     1|     70|   3.0|
|    101|Bottle Rocket (1996)|Adventure|Comedy|...|     1|    101|   5.0|
|    110|   Braveheart (1995)|    Action|Drama|War|     1|    110|   4.0|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   4.8|
|    157|Canadian Bacon (1...|          Comedy|War|     1|    157|   4.7|
|    163|    Desperado (1995)|Action|Romance|We...|     1|    163|   4.6|
|    216|Billy Madison (1995)|              Comedy|     1|    216|   4.9|
|    223|       Clerks (1994)|              Comedy|     1|    223|   3.0|
|    231|Dumb & Dumber (Du...|    Adventure|Comedy|     1|    231|   4.6|
|    235|      Ed Wood (1994)|        Comedy|Drama|     1|    235|   4.0|
|    260|Star Wars: Episod...|Action|Adventure|...|     1|    260|   4.6|
|    296| Pulp Fiction (1994)|Comedy|Crime|Dram...|     1|    296|   3.0|
|    316|     Stargate (1994)|Action|Adventure|...|     1|    316|   3.0|
|    333|    Tommy Boy (1995)|              Comedy|     1|    333|   4.6|
|    349|Clear and Present...|Action|Crime|Dram...|     1|    349|   4.0|
+-------+--------------------+--------------------+------+-------+------+
only showing top 20 rows

#### C) Retrieve the genres of movies along with the highest and lowest rating for each genre from the above view
(Hint: SELECT Genres, ratings from Joined_movie_ratings_view)

In [68]:
#Type your code here
Result = spark.sql("""
    WITH movie_ratings AS (
        SELECT
            *,
            RANK() OVER (PARTITION BY genres ORDER BY rating DESC) AS highest_rank,
            RANK() OVER (PARTITION BY genres ORDER BY rating ASC) AS lowest_rank
        FROM
            global_temp.movies_view
    )
    SELECT
        genres,
        MAX(CASE WHEN highest_rank = 1 THEN title END) AS highest_rated_movie,
        MAX(CASE WHEN highest_rank = 1 THEN rating END) AS highest_rating,
        MAX(CASE WHEN lowest_rank = 1 THEN title END) AS lowest_rated_movie,
        MAX(CASE WHEN lowest_rank = 1 THEN rating END) AS lowest_rating
    FROM
        movie_ratings
    GROUP BY
        genres
""")

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `rating` cannot be resolved. Did you mean one of the following? [`title`, `genres`, `movieId`].; line 5 pos 54;
'WithCTE
:- 'CTERelationDef 4, false
:  +- 'SubqueryAlias movie_ratings
:     +- 'Project [movieId#1629, title#1630, genres#1631, rank() windowspecdefinition(genres#1631, 'rating DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS highest_rank#1739, rank() windowspecdefinition(genres#1631, 'rating ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS lowest_rank#1740]
:        +- SubqueryAlias global_temp.movies_view
:           +- View (`global_temp`.`movies_view`, [movieId#1629,title#1630,genres#1631])
:              +- Relation [movieId#1629,title#1630,genres#1631] csv
+- 'Aggregate ['genres], ['genres, 'MAX(CASE WHEN ('highest_rank = 1) THEN 'title END) AS highest_rated_movie#1735, 'MAX(CASE WHEN ('highest_rank = 1) THEN 'rating END) AS highest_rating#1736, 'MAX(CASE WHEN ('lowest_rank = 1) THEN 'title END) AS lowest_rated_movie#1737, 'MAX(CASE WHEN ('lowest_rank = 1) THEN 'rating END) AS lowest_rating#1738]
   +- 'SubqueryAlias movie_ratings
      +- 'CTERelationRef 4, false, false

### **Task 3: Machine Learning (30%)**

Note: Import the necessary libraries such as pandas as per your requirement

#### Question Descriptive

#### A) Explain in detail about any one algorithm (such as Naive Bayes/ Decision Tree, etc) highlighting the pros and cons. (10%)

##### Min. 200 words

Answer Here:

#### Question Implementation (20%)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importing pandas
import pandas as pd

#file path location give Your path
file_loc = '/content/drive/My Drive/Colab Notebooks/Spam.csv'
df = pd.read_csv(file_loc)

#printing first 10 lines
df.head(10)

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_hash,capital_run_length_average,capital_run_length_longest,capital_run_length_total,spam
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
5,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
6,0.00,0.00,0.00,0.0,1.92,0.00,0.00,0.00,0.00,0.64,...,0.00,0.054,0.0,0.164,0.054,0.000,1.671,4,112,1
7,0.00,0.00,0.00,0.0,1.88,0.00,0.00,1.88,0.00,0.00,...,0.00,0.206,0.0,0.000,0.000,0.000,2.450,11,49,1
8,0.15,0.00,0.46,0.0,0.61,0.00,0.30,0.00,0.92,0.76,...,0.00,0.271,0.0,0.181,0.203,0.022,9.744,445,1257,1
9,0.06,0.12,0.77,0.0,0.19,0.32,0.38,0.00,0.06,0.00,...,0.04,0.030,0.0,0.244,0.081,0.000,1.729,43,749,1

In [ ]:
#column information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   word_freq_make              4601 non-null   float64
 1   word_freq_address           4601 non-null   float64
 2   word_freq_all               4601 non-null   float64
 3   word_freq_3d                4601 non-null   float64
 4   word_freq_our               4601 non-null   float64
 5   word_freq_over              4601 non-null   float64
 6   word_freq_remove            4601 non-null   float64
 7   word_freq_internet          4601 non-null   float64
 8   word_freq_order             4601 non-null   float64
 9   word_freq_mail              4601 non-null   float64
 10  word_freq_receive           4601 non-null   float64
 11  word_freq_will              4601 non-null   float64
 12  word_freq_people            4601 non-null   float64
 13  word_freq_report            4601 non-null   float64
 14  word_freq_addresses         4601 non-null   float64
 15  word_freq_free              4601 non-null   float64
 16  word_freq_business          4601 non-null   float64
 17  word_freq_email             4601 non-null   float64
 18  word_freq_you               4601 non-null   float64
 19  word_freq_credit            4601 non-null   float64
 20  word_freq_your              4601 non-null   float64
 21  word_freq_font              4601 non-null   float64
 22  word_freq_000               4601 non-null   float64
 23  word_freq_money             4601 non-null   float64
 24  word_freq_hp                4601 non-null   float64
 25  word_freq_hpl               4601 non-null   float64
 26  word_freq_george            4601 non-null   float64
 27  word_freq_650               4601 non-null   float64
 28  word_freq_lab               4601 non-null   float64
 29  word_freq_labs              4601 non-null   float64
 30  word_freq_telnet            4601 non-null   float64
 31  word_freq_857               4601 non-null   float64
 32  word_freq_data              4601 non-null   float64
 33  word_freq_415               4601 non-null   float64
 34  word_freq_85                4601 non-null   float64
 35  word_freq_technology        4601 non-null   float64
 36  word_freq_1999              4601 non-null   float64
 37  word_freq_parts             4601 non-null   float64
 38  word_freq_pm                4601 non-null   float64
 39  word_freq_direct            4601 non-null   float64
 40  word_freq_cs                4601 non-null   float64
 41  word_freq_meeting           4601 non-null   float64
 42  word_freq_original          4601 non-null   float64
 43  word_freq_project           4601 non-null   float64
 44  word_freq_re                4601 non-null   float64
 45  word_freq_edu               4601 non-null   float64
 46  word_freq_table             4601 non-null   float64
 47  word_freq_conference        4601 non-null   float64
 48  char_freq_;                 4601 non-null   float64
 49  char_freq_(                 4601 non-null   float64
 50  char_freq_[                 4601 non-null   float64
 51  char_freq_!                 4601 non-null   float64
 52  char_freq_$                 4601 non-null   float64
 53  char_freq_hash              4601 non-null   float64
 54  capital_run_length_average  4601 non-null   float64
 55  capital_run_length_longest  4601 non-null   int64
 56  capital_run_length_total    4601 non-null   int64
 57  spam                        4601 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [ ]:
#checking the unique row

df.nunique().sort_values()

spam                             2
word_freq_table                 38
word_freq_3d                    43
word_freq_parts                 53
word_freq_font                  99
word_freq_conference           106
word_freq_857                  106
word_freq_cs                   108
word_freq_415                  110
word_freq_receive              113
word_freq_addresses            118
word_freq_direct               125
word_freq_telnet               128
word_freq_report               133
word_freq_original             136
word_freq_over                 141
word_freq_make                 142
word_freq_money                143
word_freq_order                144
word_freq_credit               148
word_freq_lab                  156
word_freq_people               158
word_freq_technology           159
word_freq_project              160
word_freq_pm                   163
word_freq_000                  164
word_freq_internet             170
word_freq_address              171
word_freq_remove               173
word_freq_85                   177
word_freq_labs                 179
word_freq_data                 184
word_freq_meeting              186
word_freq_1999                 188
word_freq_business             197
word_freq_650                  200
word_freq_all                  214
char_freq_[                    225
word_freq_edu                  227
word_freq_email                229
word_freq_re                   230
word_freq_george               240
word_freq_mail                 245
word_freq_free                 253
word_freq_our                  255
capital_run_length_longest     271
word_freq_hpl                  281
char_freq_;                    313
word_freq_will                 316
char_freq_hash                 316
word_freq_hp                   395
word_freq_your                 401
char_freq_$                    504
word_freq_you                  575
char_freq_(                    641
capital_run_length_total       919
char_freq_!                    964
capital_run_length_average    2161
dtype: int64

In [ ]:
#importing sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

SPLIT THE DATA INTO TARGET AND FEATURES

In [ ]:
# Considering all the last but one columns as features
X = df.iloc[:, :-1]

#Considering the last column as target
y = df.iloc[:, -1]

Task B: SPLIT THE DATA INTO TRAIN AND TEST DATASET

In [ ]:
#type your code here

TRAINING THE MODEL

Note: Choose a suitable Machine Learning Algorithm

Task C: TRAIN THE MODEL


Hint: Importing the scikit learn and evaluation metrics

In [ ]:
#type your code here

Task D: INITIALIZE AND FIT THE MODEL

In [ ]:
#type your code here

Task E: EVALUATE THE MODEL (ACCURACY, PRECISION, F1, RECALL)

In [ ]:
#type your code here